body {
		background: #ffffff;
    font-family: 'Lora', serif;
    font-style: normal;
		font-weight: 300;
    overflow-x: hidden;
}


/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.5px;
}

h1 {
    font-size: 62px;
    padding-bottom: 14px;
    margin-bottom: 0px;
}

h2 {
  font-size: 32px;
}

h2,h3 {
  padding-bottom: 6px;
}

h3 {
  font-size: 26px;
}

h4 {
  color: #666;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
}

p {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}


/*---------------------------------------
    General               
-----------------------------------------*/
html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #4d638c;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #4d638c;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#about, 
#gallery,
#contact,
#blog {
  padding-top: 60px;
  padding-bottom: 80px;
}

.main-about,
.main-gallery,
.main-contact {
  height: 65vh;
}

.overlay {
  background: rgba(0,0,0,0.7 );
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
  overflow: hidden;
}


/*---------------------------------------
    Main Navigation             
-----------------------------------------*/
.navbar-default {
    background: #ffffff;
    margin: 0 !important;
    padding: 12px 0;
}

.navbar-default .navbar-brand {
  color: #555;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}

.navbar-default .navbar-nav li a {
    color: #777;
    font-size: 16px;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 22px;
    padding-left: 22px;
}

.navbar-default .navbar-nav > li a:hover {
    color: #bfba55 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #606066;
    background-color: transparent;
}

.navbar-default .navbar-nav li a:hover,
 .navbar-default .navbar-nav .active > a {
    color: #bfba55;
  }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #bfba55;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    background: #bfba55;
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}


/*---------------------------------------
    Home section              
-----------------------------------------*/
#home {
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    position: relative;
    text-align: center;
}

.main-home {
  background: url('../images/home-bg.jpg') no-repeat;
  height: 100vh;
}

.main-about {
  background: url('../images/about-bg.jpg') no-repeat;
}

.main-gallery {
  background: url('../images/gallery-bg.jpg') no-repeat;
}

.main-contact {
  background: url('../images/contact-bg.jpg') no-repeat;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

#home h4 {
  color: #bfba55;
}

#home .btn {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #444;
  font-family: 'Merriweather', serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 22px;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
}

#home .btn:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}


/*---------------------------------------
   About section              
-----------------------------------------*/
#about .col-md-6 {
  padding-top: 22px;
  padding-bottom: 32px;
}

#about .col-md-6 img {
  padding: 22px 0px 22px 22px;
}

#about .col-md-4 {
  padding-bottom: 32px;
}

#about .col-md-4 img {
  padding-top: 12px;
}

#about table, th, td {
  border: 1px solid black;
}

/*---------------------------------------
   Gallery section              
-----------------------------------------*/
#gallery span {
  display: block;
  padding-bottom: 32px;
}

#gallery .col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}

#gallery .gallery-thumb {
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  cursor: pointer;
  display: block;
  position: relative;
  top: 0px;
  transition: all 0.4s ease-in-out;
}

#gallery .gallery-thumb:hover {
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}

#gallery .gallery-thumb img {
  width: 100%;
}

#gallery .col-md-12 p {
  padding-top: 22px;
  text-align: center;
}


/*---------------------------------------
   Contact section              
-----------------------------------------*/
#contact .form{
  text-align: center;
  padding-top: 32px;
}

#contact input[type="form"] {
  border: 2px solid #f0f0f0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #555;
}

#contact button[type="submit"] {
  background: #bfba55;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}

#contact button[type="submit"]:hover {
  background: #333;
}


/*---------------------------------------
   Footer section              
-----------------------------------------*/
footer {
    background: #000;
    color: #ffffff;
    padding: 45px 0px;
    position: relative;
}

footer .col-md-4 .fa {
  color: #ffffff;
  padding-right: 8px;
}